FLASK_SECRET_KEY=xxxxxx
FLASK_DEBUG=True

DB_HOST=xxxxxxxxxx
DB_PORT=4000
DB_USER=xxxxxxxxx.root
DB_PASSWORD=xxxxxxxxxxx
DB_NAME=xxxxxxxx
DB_SSL_CA=xxxxxxxx.pem

CLOUDINARY_CLOUD_NAME=xxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxx

RESEND_API_KEY=xxxxxxxxxxxxxx
RESEND_FROM_EMAIL=xxxxxxxx@resend.dev
RESEND_TO_EMAIL=xxxxxxxxxx@gmail.com